$typefi-orange: #fe5000;
$light-grey: #fafafa;

*::selection{
  color: $typefi-orange;
}

a {
  color: $typefi-orange;
}

.side-bar {
  background-color: $light-grey;
}

.feather {
  color: $typefi-orange;
}
