$typefi-orange: #fe5000;
$pantone-320 : #009CA6;
$light-grey: #fafafa;

*::selection{
  background-color: $pantone-320;
}

a {
  color: $pantone-320;
}

.side-bar {
  background-color: $light-grey;
}

.feather {
  color: $pantone-320;
}
